.__drawer_container {
  position: fixed;
  pointer-events: auto !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(16px);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: backdrop-filter 1s ease;
}

.__drawer_container.__hidden {
  visibility: hidden;
  pointer-events: none !important;
  backdrop-filter: blur(0);
}

.__auth_close_button {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: rgb(0, 0, 0, 0.8);
  border: none;
  mask: url(https://static.acflare.com/x.svg) no-repeat center;
  mask-size: contain;
  transition: opacity 0.3s ease;
}

.__auth_close_button:hover {
  background: rgb(0, 0, 0, 1);
}

@media (prefers-color-scheme: dark) {
  .__drawer_container {
    background: rgba(0, 0, 0, 0.4);
  }

  .__auth_close_button {
    background: rgb(255, 255, 255, 0.8);
  }

  .__auth_close_button:hover {
    background: rgb(255, 255, 255, 1);
  }
}

.__drawer_frame {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 340px;
  border: none;
  border-radius: 16px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.__drawer_frame.__hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 640px) {
  .__drawer_container {
    justify-content: flex-end;
  }

  .__drawer_frame {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    max-width: 100%;
  }
}